@using Microsoft.AspNetCore.SignalR.Client;

<nav>
    <h1>WiFiHeatMap</h1>
    <h2 class="@statusClass">@statusMessage</h2>
</nav>

<main>
    x
</main>

@code {
    private HubConnection hubConnection;
    private Message message = new Message { Status = "(starting...)" };

    private string statusClass => message.Status != "Running" ? "error" : "";
    private string statusMessage => message.Status;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5001")
            .Build();

        hubConnection.On<Message>("Update", incoming =>
        {
            message = incoming;
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public void Dispose() => _ = hubConnection.DisposeAsync();
}