body {
    font-family: sans-serif;
    margin: 0;
}

app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
}

main {
    flex-grow: 1;
}

.error {
    color: #990000;
}